#todo-page{
  display: block;
  justify-content: center;
    .nav{
        padding: 2.5rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .txt{
            display: flex;
            justify-content: center;
            align-items:  center;
            font-size: 50px;
            width: 80px;
            height: 80px;
            color: #ddd;
            background: rgba(64, 61, 240, 0.48);
            box-shadow: 3px #0015ff;
            backdrop-filter: saturate(100%) blur(5px);
            border-radius: 14px;
            

        }
    }
.center{
  display: inline-block;
  justify-content: center;
  align-items: center;
.input{
  #todo-form{
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input{
        display: block;
          height: 5vh;
          width: 400px;
          opacity: 70%;
          margin: 1rem;
          background: rgba(255, 255, 255, 0.88);
          border: none;
          border-radius: 14px;
          box-shadow: slategray 1px 1px;
          outline: none;
          &:focus {
            border: 4px solid #0015ff;
            background: rgba(255, 255, 255, 0.48);
          }
          &::placeholder {
            padding: 1rem;
          }
    }
}
}
}
button {
    cursor: pointer;
    height: 5vh;
    width: 80px;
    opacity: 70%;
    /* background-color: rgba(209, 208, 208, 0.8); */
    border-radius: 14px;
    border: none;
    box-shadow: slategray 1px 1px;
    color: #080707;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: saturate(180%) blur(12px);
    &:hover {
      background: rgba(54, 105, 248, 0.18);
      border: 2px outset #0015ff;
      transform: translateY(-1px);
    }
    
    &:active {
      transform: translateY(1px) scale(0.98);
    }
  }



#todo-list{
  display: block;
  justify-content: flex-start;
  padding: 1rem;
  width: 400px;
  box-shadow: slategray 1px 1px;
  border-radius: 16px;
  color: #fbfbfb;
  background: rgba(104, 104, 104, 0.18);
  backdrop-filter: saturate(180%) blur(2px);
  li{
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    gap: 10px;
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    list-style: none;
  }
  button {
    cursor: pointer;
    height: auto;
    width: auto;
    opacity: 70%;
    padding: 0.5rem 1rem;
    /* background-color: rgba(209, 208, 208, 0.8); */
    border-radius: 14px;
    border: none;
    box-shadow: slategray 1px 1px;
    color: #fbfbfb;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: saturate(180%) blur(12px);
    &:hover {
      background: rgba(54, 105, 248, 0.18);
      border: 2px outset #0015ff;
    }
  }
}
}