#todo-page{
    .nav{
        padding: 2.5rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .txt{
            font-size: 50px;
            width: 80px;
            height: 80px;
            color: #ddd;
            
            background: rgba(14, 11, 240, 0.18);
            backdrop-filter: saturate(100%) blur(12px);
            border-radius: 14px;
            

        }
    }
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        display: block;
          height: 5vh;
          width: 400px;
          opacity: 70%;
          margin: 1rem;
          background: rgba(255, 255, 255, 0.88);
          border: none;
          border-radius: 14px;
          box-shadow: slategray 1px 1px;
          outline: none;
          &:focus {
            border: 4px solid #0015ff;
            background: rgba(255, 255, 255, 0.48);
          }
          &::placeholder {
            padding: 1rem;
          }
    }
}
button {
    cursor: pointer;
    height: 5vh;
    width: 80px;
    opacity: 70%;
    /* background-color: rgba(209, 208, 208, 0.8); */
    border-radius: 14px;
    border: none;
    box-shadow: slategray 1px 1px;
    color: #fbfbfb;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: saturate(180%) blur(12px);
    &:hover {
      background: rgba(54, 105, 248, 0.18);
      border: 2px outset #0015ff;
    }
  }
}
#todo-form{
    form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}